{#
/**
 * @file
 * Default theme implementation for a learnosity reports item element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the details element.
 * - signed_request: The signed_request json string.
 *
 * @see template_preprocess_learnosity_reports_item()
 *
 * @ingroup themeable
 */
#}
{% set classes = [] %}

<div{{ attributes.addClass(classes) }}>
  {{ element }}
</div>
