{#
/**
 * @file
 * Default theme implementation for a learnosity assessment item element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the details element.
 * - signed_request: The signed_request json string.
 * - activity_template_id: The activity template id.
 *
 * @see template_preprocess_learnosity_assessment_item()
 *
 * @ingroup themeable
 */
#}
{% set classes = [] %}

<div{{ attributes.addClass(classes) }}>
  {{ element }}
</div>
