{#
/**
 * @file
 * Default theme implementation for a learnosity authoring item element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the details element.
 * - signed_request: The signed_request json string.
 *
 * @see template_preprocess_learnosity_authoring_item()
 *
 * @ingroup themeable
 */
#}
{% set classes = [] %}
<input{{ attributes }} />
<div{{ attributes.addClass(classes) }} >
  {{ element }}
</div>
